.split{
    height: 85%;
    width: 50%;
    position: fixed;
}
body{
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}
.box{
    width:10%;
    height: 40%;
    background-color: rgba(92, 132, 241, 0.87);
    border-left: 5px solid #fff;
    padding-left: 3%;
    padding-right: 3%;
}
h2{
    color: rgb(94, 94, 89);
    text-align: center;
}
.p1{
   font-size: 2em;
   font-weight: bolder;
   color: white;
}
.p2{
    font-size: .6em;
    font-stretch: extra-expanded;
    font-weight: bold;
    color:rgb(94, 94, 89);
    display: inline;
    border-left: 15px solid #fff;
 }

.top{
    top: 0;
    width: 100%;
    height: 15%;
    background-color: white;
    position: fixed;
}
.line{
    top:15%;
    right: 5%;
    width: 90%;
    border-left: 10px;
    border-right: 10px;
    border-color: white;
    height: 1%;
    background-color: lightgray;
    position: fixed;
    
}
.left{
    align-content: center;
    left: 0;
    bottom: 0;
    background-color: white;

}
.right{
    right: 0;
    bottom: 0;
    background-color: white;
}
.upload-wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.upload{
    text-align: center;
    border: 1px solid gray;
    color: gray;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: .6em;
    font-weight: bold;
}
.upload-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
.analyze{
    text-align: center;
    border: 0px solid gray;
    background-color: rgba(92, 132, 241, 0.87);
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: .8em;
    font-weight: bold;
}
